.white {
  stroke: var(--white);
}
button.mic-btn.active svg {
  animation: micanmation .6s linear alternate infinite;
}
@keyframes micanmation {
  0% {
    transform: scale(1);
    opacity: .8;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}