.settings_sec .settings_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.settings_sec .inp_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 35px;
}
.settings_sec .input_control .label p {
  font-size: 18px;
  margin-bottom: 8px;
}
.settings_sec .input_control .label_input {
  margin: 0;
  padding-bottom: 6px;
  cursor: auto;
}
.settings_sec .input_control .label_input span svg {
  cursor: pointer;
}

/* settings modal */
.settings_sec .modal_New .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_sec .modal_New .head .btn_close_modal {
  margin: 0;
  border-radius: 50%;
  background-color: #ebe8ed;
  width: 40px;
  height: 40px;
}
.settings_sec .modal_New h3 {
  font-size: 24px;
  color: var(--main-purple);
  font-weight: 800;
  margin: auto;
}
.settings_sec .modal_New .save {
  background-color: var(--main-purple);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.settings_sec .modal_New .save svg {
  width: 22px;
}
.settings_sec .modal_New .cancel_btn {
  background-color: transparent;
  color: #e24b4b !important;
}
.modal_New {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  z-index: 1002;
  color: #333;
  z-index: 100000000;
}
.btn_close_modal {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 0 12px auto;
}
.btn_close_modal svg {
  width: fit-content;
  height: 20px;
}
/* Mediamax-width: 991px */

/* Mediamax-width: 600px */
