.thanks_trust {
  min-height: 70vh;
  display: grid;
  place-content: center;
  row-gap: 24px;
}
.thanks_trust img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  position: relative;
}
.thanks_trust div {
  position: relative;
}
.thanks_trust div span {
  content: "Lost your connection,Please Check";
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: var(--org-color);
}
.thanks_trust div span img {
  width: 25px;
  height: auto;
}
.thanks_trust p {
  font-size: var(--ft-24);
  font-weight: 500;
  color: #331c48;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.thanks_trust p svg {
  width: 20px;
  color: #fff;
}
.thanks_trust p svg path {
  fill: #331c48;
}
.thanks_trust a {
  background: #331c48;
  padding: 10px 12px;
  border-radius: var(--r-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 8px;
}
.thanks_trust a svg path {
  fill: #fff;
}
.thanks_trust ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  /* margin-bottom: 60px; */
}

@media (max-width: 1399px) {
  .thanks_trust {
    /* margin-top: 135px; */
    margin-top: 50px;

  }
  .thanks_trust img {
    width: fit-content;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .thanks_trust ul {
    flex-wrap: wrap;
    gap: 24px;
  }
  .thanks_trust ul li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .thanks_trust ul li a {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .thanks_trust img {
    height: 290px;
  }
  .thanks_trust ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .thanks_trust ul li {
    flex-basis: calc((100% - 12px) / 2);
  }
  .thanks_trust div span {
    font-size: 10px;
  }
}
